.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.item img {
    flex: 2;
    height: 150px;
    width: 150px;
}

.title {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.info {
    flex: 6;
    display: flex;
    justify-content: space-between;
    background-color: white;
    flex-direction: column;
    align-items: start;
    height: 130px;
}

.quantity {
    border: 3px solid #ffd814;
    border-radius: 30px;
    padding: 3px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.icon {
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.actions {
    display: flex;
    align-items: center;
}

.actions span {
    margin: 0 10px;
    border-left: 1px solid rgba(161, 161, 161, 0.431);
    padding-left: 10px;
    font-size: 12px;
    color: #2162a1;
    font-weight: 500;
}

.actions span:hover {
    text-decoration: underline;
    cursor: pointer;
}