.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 400px;
    border: 1px solid rgba(164, 164, 164, 0.338);
    border-radius: 10px;
    padding: 30px;
}

.errorMessage {
    width: 400px;
    border: #cc0c39 solid 2px;
    border-left: 15px solid #cc0c39;
    border-radius: 10px;
    padding: 20px;
}

.errorMessage p {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.errorIcon {
    color: #cc0c39;
}

.title {
    font-weight: 600;
    margin-bottom: 20px;
}

input {
    display: block;
    width: 100%;
    margin: 10px 0;
    height: 30px;
    border-width: 1px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0 10px;
}

input:focus {
    border: 1px solid rgb(44, 42, 119);
    outline-color: rgb(27, 27, 109);
    font-size: 20px;
    outline-offset: 5px;
}

.container p {
    font-size: 12px;
}

.continueBtn {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: #ffd814;
    margin-bottom: 15px;
}

.continueBtn:hover {
    background-color: #ecc817;
    cursor: pointer;
}

.centeredLine {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 400px;
}

.centeredLine::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(164, 164, 164, 0.338);
    transform: translateY(-50%);
    z-index: -1;
}

.centeredLine p {
    margin: 0;
    padding: 20px 10px;
    font-size: 14px;
    color: rgb(90, 90, 90);
    background-color: white;
}

.registerBtn {
    background-color: white;
    width: 400px;
    height: 30px;
    border-width: 1px;
    border-radius: 30px;
}

.registerBtn:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}